<div class="left">
  <h3>Player Bio</h3>
</div>

<img src="https://www.flickr.com/photos/jansolo09/5097628957" alt="Profile Image Coming Soon!">

<table class="fullTable mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name and Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Hometown</th>
      <th>Height (ft.in)</th>
      <th>Weight (lbs)</th>
  </thead>
    <tbody>
      <tr>
        <td> {{user.name}} </td>
        <td> {{user.age}} </td>
        <td> {{user.gender}} </td>
        <td>{{user.hometown}}</td>
        <td>{{user.height}}</td>
        <td>{{user.weight}}</td>
      </tr>
      </tbody>

      <div class="text-right">
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Update</a>
      </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/2sJKHj2YVHc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </table>
