<div class="left">
  <h3>Player Bio</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="/images/CR7_ProfileImage.png" alt="Profile Picture Coming Soon!" height="300" width="300" >
    </div>

    <div class="col">
      <div class="table-responsive table-container">
        <table class="table table-hover">
        <thead>
          <tbody>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name and Last Name</th>
            <td> {{user.name}} </td>
          </tr>

          <tr>
            <th>Age</th>
            <td> {{user.age}} </td>
          </tr>

          <tr>
            <th>Gender</th>
            <td> {{user.gender}} </td>
          </tr>

          <tr>
            <th>Hometown</th>
            <td>{{user.hometown}}</td>
          </tr>

            <tr>
              <th>Height (ft.in)</th>
              <td>{{user.height}}</td>
            </tr>

            <tr>
              <th>Weight (lbs)</th>
              <td>{{user.weight}}</td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary" style="float: right">Update</a>
  </div>
</div>
</div>

<h3>Player Video Highlights</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <iframe width="260" height="260" src="https://www.youtube.com/embed/2sJKHj2YVHc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe width="260" height="260" src="https://www.youtube.com/embed/rt9nE-AZe6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe width="260" height="260" src="https://www.youtube.com/embed/ndeufwxxPtg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
